@import "../../main.scss";

.dashboard {
  background-color: $bg-shade;
  padding: 2rem;

  &__card {
    display: flex;
    justify-content: space-between;
    overflow-x: scroll;
  }

  &__heading {
    font-size: $text-md;
  }

  &__marketting {
    &--stats {
      display: flex;
      flex-direction: column;
      background-color: $bg-main;
      border-radius: 1.2rem;
      width: 100%;
      font-family: $font-main;
      padding: 1.2rem;
      margin-block: 2rem;

      &-bullets {
        display: flex;
        justify-content: space-between;
        margin-top: 1rem;

        &-1,
        &-2,
        &-3 {
          display: flex;
          align-items: center;

          div {
            height: 0.8rem;
            width: 0.8rem;
            border-radius: 0.4rem;
            margin-right: 1rem;
          }

          p {
            color: rgba(190, 192, 202, 1);
            font-size: 1rem;
          }
        }

        &-1 {
          div {
            background-color: $color-blue-1;
          }
        }

        &-2 {
          div {
            background-color: $color-blue-2;
          }
        }

        &-3 {
          div {
            background-color: $color-orange-1;
          }
        }
      }

      &-chart {
        margin-inline: auto;
        margin-block: 2.5rem;
      }
    }

    &--cards {
      display: flex;
      flex-direction: column;
    }
  }

  &__summary {
    display: flex;
    flex-direction: column;
    background-color: $bg-main;
    border-radius: 1.2rem;
    width: 100%;
    font-family: $font-main;
    padding: 1.2rem;
    margin-block: 2rem;

    &--top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 2.5rem;

      &-left {
        display: flex;
        align-items: center;

        &-sales {
          display: flex;
          align-items: center;
          margin-left: 1.4rem;
          padding: 0.5rem 1.4rem;
          background-color: #5570f114;
          color: $color-blue-1;
          font-size: $text-sm;
          border-radius: 0.8rem;

          p {
            margin-right: 1rem;
          }
        }
      }

      &-dropdown {
        display: flex;
        align-items: center;
        font-size: $text-sm;

        p {
          margin-right: 1rem;
        }
      }
    }
  }

  &__recent {
    display: flex;
    flex-direction: column;
    background-color: $bg-main;
    border-radius: 1.2rem;
    font-family: $font-main;
    padding: 1.2rem;

    &--order {
      display: flex;
      align-items: center;
      border-bottom: 1px solid $bg-shade;
      padding-bottom: 1rem;
      margin-top: 1.2rem;

      img {
        height: 4.9rem;
        width: 4.9rem;
        object-fit: contain;
      }

      &-text {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-left: 1.2rem;
        height: 4.9rem;
        justify-content: space-between;
        font-family: $font-main;

        &-top {
          display: flex;
          justify-content: space-between;
          align-items: center;

          &-phone {
            font-size: $text-md;
          }

          &-date {
            font-size: 1.1rem;
            color: #a6a8b1;
          }
        }

        &-bottom {
          display: flex;
          justify-content: space-between;
          align-items: center;

          &-price {
            font-size: $text-sm;
          }

          div {
            padding: 0.3rem 0.9rem;
            border-radius: 0.8rem;
          }
        }
      }
    }
  }
}

.Pending {
  background-color: $color-red-2;
  color: $color-red-1;
}

.Completed {
  background-color: $color-green-2;
  color: $color-green-1;
}
