@import "../../main.scss";

.card {
  background-color: $bg-main;
  border-radius: 1.2rem;
  width: 100%;
  font-family: $font-main;
  padding: 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.2s;

  @media (min-width: 1200px) {
    min-width: 32.1rem;
  }

  &:nth-child(2) {
    margin-inline: 2rem;
  }

  &__top {
    display: flex;
    justify-content: space-between;

    align-items: center;

    img {
      height: 3.6rem;
      width: 3.6rem;
      object-fit: contain;
    }

    div {
      display: flex;
      align-items: center;
      color: rgba(190, 192, 202, 1);
      cursor: pointer;
      transition: all 0.4s;

      &:hover,
      &:focus,
      &:active {
        color: $color-blue-2;

        svg {
          stroke: $color-blue-2;
        }
      }

      &:active {
        transform: scale(0.98);
      }

      p {
        margin-right: 0.7rem;
      }

      svg {
        height: 0.6rem;
        width: 0.8rem;
        stroke: #bec0ca;
        transition: all 0.4s;
      }
    }
  }

  &__bottom {
    display: flex;
    margin-top: 3rem;

    &--item {
      display: flex;
      flex-direction: column;

      &:not(:last-child) {
        margin-right: 6.5rem;
      }

      &-heading {
        color: #8b8d97;
        font-size: $text-sm;
      }

      &-content {
        font-size: $text-lg;
        align-items: center;
        display: flex;
        align-items: center;
      }

      span {
        color: $color-green-1;
        font-size: 1rem;
        margin-left: 0.8rem;
      }
    }
  }
}

.card-abandoned {
  margin: 0 0 0 2rem !important;

  @media (max-width: 690px) {
    margin: 2rem 0 0 0 !important;
  }

  @media (min-width: 1200px) {
    margin: 2rem 0 0 0 !important;
  }
}

.title-abandoned {
  color: $color-red-1;
}

.card-orders {
  @media (min-width: 1200px) {
    min-width: 42.3rem;
  }
}

.card-products {
  background-color: $color-blue-1;
}
