@import "../../main.scss";

.sidebar {
  background-color: $bg-main;
  max-width: 29rem;
  box-shadow: 0.8rem 0 3rem rgba(0, 0, 0, 0.04);
  transition: all 0.5s;
  z-index: 999;

  @media (max-width: 850px) {
    position: absolute;
    top: 0;
    bottom: 0;
  }

  @media (min-width: 850px) {
    position: sticky;
    display: flex;
    flex-direction: column;
    min-width: 29rem;
    overflow-y: auto;
    padding-bottom: 4rem;
  }

  &__logo {
    display: none;
    padding: 2rem;
    color: #45464e;

    @media (min-width: 850px) {
      display: flex;
      align-items: center;
      justify-content: space-between;

      &--sidebar {
        height: 3rem !important;
        width: 3rem !important;
        cursor: pointer;
        transition: all 0.2s;
        fill: #45464e;
      }

      p {
        font-size: $text-xl;
      }
    }
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 1.2rem 1rem 0.7rem;

    @media (min-width: 850px) {
      display: none;
    }

    &--dropdown {
      display: flex;
      align-items: center;
      background-color: $color-orange-2;
      padding: 0.6rem 1rem;
      border-radius: 0.8rem;
      margin-right: 1rem;

      p {
        font-family: $font-main;
        font-size: 12;
      }

      svg {
        margin-left: 0.5rem;
      }
    }

    &--right {
      display: flex;
      align-items: center;

      &-notification {
        height: 3rem;
        width: 3rem;
      }

      &-profile {
        height: 4rem;
        width: 4rem;
        object-fit: contain;
        margin-left: 1rem;
      }
    }
  }

  &__main {
    padding-inline: 2.5rem;

    &--pages {
      margin-block: 4rem 18rem;

      @media (min-width: 850px) {
        margin-block: 4rem 26rem;
      }

      &-page {
        display: flex;
        align-items: center;
        margin-top: 1.5rem;
        transition: 0.5s all;
        padding: 1.2rem 1rem;
        border-radius: 1.2rem;
        cursor: pointer;
        position: relative;

        &:hover,
        &:focus {
          background-color: rgb(223, 223, 251);
        }

        &:active {
          transform: scale(0.98);
        }

        @media (min-width: 850px) {
          margin-bottom: 0;
        }

        svg {
          height: 2.4rem;
          width: 2.4rem;
          margin-right: 1rem;
        }

        p {
          font-size: $text-md;
          font-family: $font-main;
          color: rgba(83, 84, 92, 1);
        }

        div {
          height: 2.4rem;
          width: 2.4rem;
          border-radius: 1.2rem;
          background-color: $color-orange-1;
          font-family: $font-main;
          font-size: $text-md;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-left: 1.3rem;
        }

        &-active {
          background-color: $color-blue-1;

          p {
            color: white;
          }

          svg {
            fill: white;
            stroke: none;
          }

          path {
            stroke: none;
          }

          &:hover {
            background-color: $color-blue-1;
          }
        }
      }
    }

    &--options {
      &-option {
        display: flex;
        align-items: center;
        border-radius: 1.2rem;
        color: rgba(83, 84, 92, 1);
        cursor: pointer;
        transition: all 0.2s;

        &:focus,
        &:hover {
          opacity: 0.7;
        }

        &:active {
          transform: scale(0.98);
        }

        &-1,
        &-2 {
          svg {
            margin-right: 1rem;
          }

          p {
            font-family: $font-main;
            font-size: $text-sm;
          }
        }

        &-1 {
          background-color: rgba(94, 99, 102, 0.1);
          padding: 1rem;
        }

        &-2 {
          background-color: $color-orange-3;
          margin-block: 1.2rem 3rem;
          display: flex;
          flex-direction: column;
          color: rgba(83, 84, 92, 1);

          &-top {
            display: flex;
            justify-content: space-between;
            align-items: center;
            align-self: flex-start;
            padding: 1rem 1rem 1rem 0.7rem;

            svg {
              margin-right: 1.3rem;
            }
          }

          &-bottom {
            padding: 1rem 1rem 1rem 1.2rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            align-self: flex-start;

            p {
              font-size: 1rem;
              margin-right: 1.5rem;
              color: #6e7079;
            }
          }
        }
      }

      &-logout {
        display: flex;
        align-items: center;
        padding: 1rem;

        svg {
          margin-right: 0.7rem;
        }

        p {
          font-size: $text-sm;
          font-family: $font-main;
          color: $color-red-1;
        }
      }
    }
  }
}

.minimized {
  min-width: 1rem;
  transition: all 0.2s;

  &__counter {
    position: absolute;
    top: 0;
    right: 0;
  }

  .sidebar__main {
    padding-inline: 2rem;
  }

  .sidebar__logo {
    flex-direction: column;

    p {
      display: none;
    }
  }

  .sidebar__main--pages-page {
    padding-block: 1.2rem;
    padding-left: 1.6rem;

    p {
      display: none;
    }
  }

  .sidebar__main--options-option-1 {
    padding-left: 1.6rem;

    p {
      display: none;
    }
  }

  .sidebar__main--options-option-2 {
    &-top {
      svg {
        margin-left: 1rem;
        margin-right: 0;
      }

      p {
        display: none;
      }
    }
  }

  .sidebar__main--options-logout {
    padding-left: 2rem;

    p {
      display: none;
    }
  }

  .sidebar__main--options-option-2-bottom {
    display: none;
  }
}
