@import "./main.scss";

.app {
  height: 100vh;
  overflow: hidden;

  @media (min-width: 850px) {
    display: flex;
  }

  @media (max-width: 850px) {
    overflow: scroll;
  }
}

.wrapper {
  background-color: $bg-shade;

  @media (min-width: 850px) {
    display: flex;
    flex-direction: column;
  }
}

.container {
  max-width: 1440px;
  align-self: center;
  width: 100%;
  padding: 0;
}

.logo {
  display: flex;
  align-items: center;

  svg {
    height: 5.2rem;
    width: 5.2rem;
    transform: translateY(-0.3rem);
  }

  p {
    font-size: $text-lg;
    font-family: $font-sub;
    font-weight: 700;
    color: #45464e;
  }
}
